body {
    background-color: #0d1117;
    background-image: url('../asset/image/the-one/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #c9d1d9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    text-align: center;
    border: 2px solid #30363d;
    padding: 20px;
    border-radius: 15px;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card {
    border: 1px solid #30363d;
    border-radius: 2px;
    margin: 0 5px;
    width: 40px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #1f77b4;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #f0f6fc;
    font-family: 'Comic Neue', sans-serif;
}

.card:nth-child(even) {
    background-color: #ff7f0e;
}

.card.active {
    transform: scale(1.1) rotate(180deg);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.button-container a {
    background-color: #21262d;
    color: #58a6ff;
    padding: 12px 25px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.button-container a:hover {
    background-color: #30363d;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    color: #58a6ff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.book-count {
    text-align: center;
    margin-top: 